[build]
  publish = "public"
  functions = "functions"

[build.environment]
  HUGO_VERSION = "0.101.0"
  NODE_VERSION = "16.15.1"
  NPM_VERSION = "8.14.0"

[context.production]
  command = "hugo -b $URL --gc --minify && npm run build:functions"

[context.deploy-preview]
  command = "hugo -b $DEPLOY_PRIME_URL --gc --minify"

[context.branch-deploy]
  command = "hugo -b $DEPLOY_PRIME_URL --gc --minify"

## A significant amount traffic is not detected by plausible
## https://plausible.io/blog/google-analytics-adblockers-missing-data
## https://plausible.io/docs/proxy/guides/netlify
## https://docs.netlify.com/routing/redirects/
[[redirects]]
  from = "/js/script.file-downloads.outbound-links.js"
  to = "https://plausible.io/js/script.file-downloads.outbound-links.js"
  status = 200
  force = true

[[redirects]]
  from = "/api/event"
  to = "https://plausible.io/api/event"
  status = 200
  force = true
