<p>
  The best way to write Updatecli manifest(s) is by using an IDE compatible with jsonschema hosted on schemastore.org, such as Vscode, Intellij, or Neovim.
  The full list of compatible IDE is available on <a href="https://www.schemastore.org/json/">www.schemastore.org</a>.
</p>

<p>
  For the IDE to load the correct Updatecli jsonschema, Updatecli manifest must have both a parent directory named "<b>updatecli.d</b>" and one of the file extension "<b>.yaml</b>", or "<b>.yml</b>".
  This provides auto-completion and validation out of the box.
</p>

<p>
  For example, from VScode, typing [ctrl][space] should display a box with various suggestions
</p>
