<p>
Updatecli is a declarative dependency management tool. The application is available as a command line compatible with Linux/macOS/Windows. Updatecli is designed to work the same way, both from a local machine and a CI environment.
</p>

<p>
It can easily be installed using Homebrew by running the two following commands:
</p>

<p>
-> <code>brew tap updatecli/updatecli</code></br>
-> <code>brew install updatecli</code></br>
</p>

<p>
Additional installation instructions are available at <a href="/docs/prologue/installation/">www.updatecli.io/docs/prologue/installation</a>.
</p>

