name: Build

on:
  merge_group:
    branches: master
  push:
    branches: master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4.0.2
      with:
        node-version: 20

    - name: Install Hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: 0.125.6
        extended: true

    - name: Install Bundler
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
        bundler-cache: true

    - name: Install asciidoctor
      run: gem install asciidoctor

    - name: Show Hugo Version
      run: hugo version

    - name: Install dependencies
      run: npm install

    - name: Run Hyas test script
      run: npm test

    - name: Build production website
      run: npm run build
